<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <title>Edit Order</title>
</head>
<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                              th:src="@{/resources/static/img/logo.svg}"
                                              height="32" width="32" alt="HR"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-order nav-link"
                   href="orders.html"
                   th:href="@{/outer/order/orders}">Orders</a>
                <a class="nav-order nav-link active"
                   href="assortment.html"
                   th:href="@{/outer/item/assortment}">Assortment</a>
            </ul>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">

        <ul class="navbar-nav float-lg-left">
            <li class="nav-order"
                title="Back to list"
                data-toggle="tooltip"
                data-placement="bottom"><a href="#"
                                           th:href="@{/outer/item/assortment}"
                                           class="btn btn-light btn-block"><i
                    class="fa fa-arrow-left"></i></a></li>
        </ul>
        <span class="navbar-brand text-uppercase mr-auto"
              th:text="${isNew} ? 'New order' : 'Edit order'">Edit order</span>
        <ul class="navbar-nav">
            <li class="nav-order"><a href="#"
                                    th:onclick="@{document.forms['orderForm'].submit(); return false;}"
                                    th:href="@{/outer/order/orders}"
                                    class="btn btn-light"
                                    title="Save order"
                                    data-toggle="tooltip"
                                    data-placement="bottom">
                <i class="fa fa-save"></i> <span class="d-none d-sm-inline">Save</span></a></li>
        </ul>
    </nav>
</header>
<section id="order-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th th:text="${order.orderId!=null} ? 'Number: '+${order.orderId} : 'Number:'">Number</th>
                            <th th:text="${order.orderDate!=null} ? 'Date: '+${order.orderDate} : 'Date:'">Date</th>
                            <th th:text="${order.orderCost!=null} ? 'Cost: '+${order.orderCost} : 'Cost:'">Cost</th>
                        </tr>
                        </thead>
                        <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th class="text-center">ITEMS LIST</th>
                            <th></th>
                        </tr>
                        </thead>
                        <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <form id="orderForm"
                              th:object="${order}"
                              th:action="${isNew} ? @{/outer/order} : @{/outer/order/${order.orderId}}"
                              th:method="@{post}">
                        <tr th:each="item: ${items}">
                            <td th:text="${item.itemName}">Guitar 1</td>
                            <td th:text="${item.itemPrice}">1000</td>
                            <td>
                                <input id="orderId"
                                       type="hidden"
                                       th:field="*{orderId}"/>
                                <label><input type="checkbox" id="check"
                                              th:text="${orderId}"
                                              th:field="*{itemsIds}"
                                              th:value="${item.itemId}">
                                </label>

                            </td>
                        </tr>
                        </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <hr/>
    <p class="text-center">&copy; 2019</p>
</footer>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>